.calculator
{
    margin:100px 650px 200px 600px;
    border:solid;
    width:22%;
    background-image:linear-gradient(rgb(8, 7, 7),rgb(23, 182, 222),rgb(15, 15, 15));
    border-radius: 5%;
}
input[type=text]
{
    height:40px;
    width:300px;
   margin:10px;
   border-radius:10%;
   font-size: large;
}
button{
    padding:10px;
    margin:15px;
    text-align: center;
    height:50px;
    width:50px;
    border-radius: 50%;
    font-size: large;
}
body{
    background-image: url('calc.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
button:hover{
    background-color:rgb(23, 182, 222);
    transform:scale(1.2);
    border-radius:5%;
   box-shadow: 5px 5px black;

}
h1
{
    text-align: center;
    color:WHITE;
}

